.container {
  display: grid;
  grid: 100px / repeat(3, 1fr 2fr);
  //grid-template-columns: 100px auto 100px 100px;
  //grid-template-rows: 100px 100px;
  //grid-auto-flow: dense;
  //grid-column-gap: 20px;
  //grid-row-gap: 20px;
  grid-gap: 20px;
    > div {
      background: #373142;
      color: #FFF;
      text-align: center;
      line-height: 100px;

    }
  }